@charset "UTF-8";

/* CSS Document Reset */
@charset "utf-8";

* {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:none; word-break:keep-all; word-wrap:break-word;}
html,body {margin:0; padding:0; font-weight:400; line-height:100%; color:#000;}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p {margin:0; padding:0; border:0;}
h1, h2, h3, h4, h5, h6 {line-height:100%;}
a {border:0; color:inherit;}
a, a:visited, a:hover, a:active {text-decoration:none;}
hr {margin:0; background:none; border:none; height:0;}
ul, ol {list-style:none;}
img {border:0; vertical-align:top;}
table {border-spacing:0; border:0; width:100%; table-layout:fixed; border-collapse:collapse;}
th, td {padding:0;}
mark {color:inherit;}
address, em, dfn {font-style:normal;}
button,
select,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {border-radius:0; margin:0; padding:0; border:0; background:none;}
button,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {-webkit-appearance:none;}
input[type="radio"],
input[type="checkbox"] {margin:0; padding:0; width:13px; height:13px;}
html,
body,
pre,
button,
select,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {font-family:"제주고딕", "맑은고딕", "Malgun Gothic", "돋움", Dotum, "Apple Gothic", sans-serif; letter-spacing:-2px;}
button,
input[type="button"],
input[type="submit"] {cursor:pointer; overflow:visible;}
button[type="submit"],
input[type="submit"] {filter:chroma(color=#000000);}
button::-moz-focus-inner {padding:0; border:0;}
input[type="date"],
input[type="time"] {-webkit-appearance:none; -moz-appearance:none; border-radius:0;}
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}
[readonly],
[disabled] {cursor:default;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
	width:100%;
	background:#d1e9db;
}
.img_100,
.w_100{
	width:100%;
}

/*common*/
body.main{
	background:url(../images/bg.jpg) repeat-x center top;	
}
.wrap_page{
}
.wrap_sec_top{
	background:url(../images/bg_top.jpg) no-repeat center top;	
}
.block_title{	
}


/*section*/
.wrap_sec_top{
}
.wrap_sec_top .sec_top{
}
.wrap_sec_top .sec_top .inner{
}
.sec_footer{
}



/*popup*/
.popup_wrap {
	position:relative;
	background:#d1e9db;
}
.popup_wrap .p_basic{
	position:relative;
	width:500px;
	height:500px;
	border:1px solid #000;
}
/*popup 사이즈 조절*/
.popup_wrap .p_basic.agree_1{
    width:547px;
	height:624px;
}
.popup_wrap .p_basic.agree_2{
    width:547px;
	height:352px;
}
.popup_wrap .p_basic.input_info{
    width:753px;
	height:442px;
	background:#fff url(../images/popup/bg_input.jpg) no-repeat left top;	
}


.popup_wrap .p_basic.comp_1{
    width:753px;
	height:527px;
	background:#fff url(../images/popup/bg_comp.jpg) no-repeat left top;	
}

.popup_wrap .p_basic.comp_2{
	width:557px;
	height:265px;
	background:#fff;
}

.popup_wrap .p_basic.sns{
	width:557px;
	height:300px;
	background:#fff;
}


.popup_wrap .p_basic.go_out{
	width:557px;
	height:265px;
	background:#fff;
}

.popup_wrap .p_basic.one_more{
	width:557px;
	height:265px;
	background:#fff;
}

.popup_wrap .p_basic.howto{
}
.popup_wrap .p_basic.gift{
}
.popup_wrap .p_basic.game{
	width:860px;
	height:735px;
}
.popup_wrap .p_basic.game_start{
	width:800px;
	height:607px;
	background:#fff url(../images/popup/bg_game_start.jpg) no-repeat left top;	
}

.popup_wrap .p_basic .block_close{
	position:absolute;
	width:99%;
	text-align:right;
	padding-right:1%;
	padding-top:5px;
	z-index:199;
}
.popup_wrap .p_basic .block_content{
	z-index:200;
}


.popup_wrap .p_basic .block_content .sec_title{
	text-align:center;
}
.popup_wrap .p_basic.go_out .block_content .sec_title,
.popup_wrap .p_basic.comp_2 .block_content .sec_title,
.popup_wrap .p_basic.one_more .block_content .sec_title{
	padding:40px 0 20px;
}
.popup_wrap .p_basic.sns .block_content .sec_title{
	padding:40px 0 20px;
}
.popup_wrap .p_basic.input_info .block_content .sec_title{
	padding:50px 0 20px;
}
.popup_wrap .p_basic.comp_1 .block_content .sec_title{
	padding:50px 0 20px;
}

.popup_wrap .p_basic .block_content .sec_input{
	padding-left:50px;
	padding-bottom:3px;
}
.popup_wrap .p_basic .block_content .sec_input .inner .label,
.popup_wrap .p_basic .block_content .sec_input .inner .input{
	float:left;
	color:#555555;
}
.popup_wrap .p_basic .block_content .sec_input .inner .label{
	width:80px;
	padding-top:5px;
	font-size:15px;
}

.popup_wrap .p_basic .block_content .sec_input input{
	border:1px solid #869f91;
	padding:5px ;
	width:180px;
	font-size:14px;
}
.popup_wrap .p_basic .block_content .sec_input.name input{
}
.popup_wrap .p_basic .block_content .sec_input.phone{
}
.popup_wrap .p_basic .block_content .sec_input .input.add input{
	width:54px;
}
.popup_wrap .p_basic .block_content .sec_input .btn_sear{
	display:block;
	float:left;
	padding-left:5px;
}
.popup_wrap .p_basic .block_content .sec_input .btn_sear a{
	display:block;
	width:50px;
	padding:7px 0 6px;
	font-size:13px;
	text-align:center;
	color:#fff;
	background:#687e71;
}
.popup_wrap .p_basic .block_content .sec_check{
	padding-left:50px;
	font-size:14px;
}
.popup_wrap .p_basic .block_content .sec_check a{
	color:#666;
	display:block;
	float:left;
}
.popup_wrap .p_basic .block_content .sec_check a.checkbox{
	width:21px;
}
.popup_wrap .p_basic .block_content .sec_check a.label{
	width:190px;
}
.popup_wrap .p_basic .block_content .sec_check a.btn_detail{
	width:60px;
	float:right;
	text-decoration:underline;
}
.popup_wrap .p_basic .block_content .sec_check.first{
	padding-top:15px;
}
.popup_wrap .p_basic.comp_1 .block_content .sec_txt{
	padding-left:40px;
	padding-bottom:10px;
}




.popup_wrap .p_basic .block_content .sec_sns{
	text-align:center;
}
.popup_wrap .p_basic .block_content .sec_btn{
	text-align:center;
	padding:10px 0;
}
.popup_wrap .p_basic.game_start .block_content .sec_btn{
	text-align:center;
	padding-top:480px;
}
.popup_wrap .p_basic .block_content .sec_btn.two{
}
.popup_wrap .p_basic .block_content .sec_btn.two .inner a{
	display:block;
	float:left;
}
.popup_wrap .p_basic .block_content .sec_btn.two .inner a.left{
	padding-right:5px;
}
.popup_wrap .p_basic .block_content .sec_btn.two .inner a.right{
	padding-left:5px;
}

.popup_wrap .p_basic.game .block_content .sec_card{
	padding-left:56px;
}
.popup_wrap .p_basic.game .block_content .sec_card .inner{
	width:100%;
}

.popup_wrap .p_basic.game .block_content .sec_card .inner .one_cd{
	float:left;
	padding-right:1px;
	padding-bottom:2px;
}
.popup_wrap .p_basic.game .block_content .sec_status{
	padding-left:56px;
	padding-top:15px;
}

.popup_wrap .p_basic.game .block_content .sec_status .bags{
	float:left;
	width:300px;
	background:url(../images/popup/bg_bags.png) no-repeat;
	height:63px;
	position:relative;

}
.popup_wrap .p_basic.game .block_content .sec_status .bags .b_img{
	position:absolute;
	bottom:3px;
}
.popup_wrap .p_basic.game .block_content .sec_status .bags .b_img.b_1{
	left:25px;
}
.popup_wrap .p_basic.game .block_content .sec_status .bags .b_img.b_2{
	left:85px;
}
.popup_wrap .p_basic.game .block_content .sec_status .bags .b_img.b_3{
	left:145px;
}
.popup_wrap .p_basic.game .block_content .sec_status .bags .b_img.b_4{
	left:200px;
}


.popup_wrap .p_basic.game .block_content .sec_status .gage{
	float:left;
	width:442px;
	background:url(../images/popup/bg_gage.png) no-repeat;
	height:63px;
	position:relative;
}

.popup_wrap .p_basic.game .block_content .sec_status .gage .inner_bar{
	position:absolute;
	top:23px;
	left:17px;
	width:366px;
	background:#ffffff;
	height:18px;
	border-radius:100px;
	z-index:1000;
}
.popup_wrap .p_basic.game .block_content .sec_status .gage .inner_bar .bar{
	width:80%;
	background:#36925d;
	height:18px;
	border-top-left-radius: 100px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 100px;
}

.popup_wrap .p_basic.game .block_content .sec_status .gage .bg_bar{
	position:absolute;
	top:17px;
	left:10px;
	width:380px;
	background:#83bf9c;
	height:30px;
	border-radius:100px;
}
.popup_wrap .p_basic.game .block_content .sec_status .gage .count{
	font-size:35px;
	font-weight:bold;
	position:absolute;
	right:10px;
	top:20px;
	color:#245137;
}

.popup_wrap .p_basic.input_info .block_content{
	padding-left:377px;
}
.popup_wrap .p_basic.comp_1 .block_content{
	padding-left:377px;
}